@import "./_theme.css";

:root {
  --white: var(--primitives-color-gray-10);
  --black: var(--primitives-color-black);

  --rounded-xs: 2px;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--white);
}
